* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: clamp(380px, 100dvw, 1440px);
  margin: 0 auto;
  padding-left: clamp(109px, 10vw, 25px);
  padding-right: clamp(109px, 10vw, 25px);

  /* border: 1px solid red; */
}