@font-face {
  font-weight: 400;
  font-family: 'Inter';
  src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: 'Inter';
  src: url("./fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: 'Inika';
  src: url("./fonts/Inika/Inika-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: 'Inika';
  src: url("./fonts/Inika/Inika-Bold.ttf");
}